.item {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-bottom: 15px;
    position: relative;
    margin-right: 125px;
}

.imageControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.image {
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.info {
    flex-grow: 1;
}

.title {
    font-size: 17px;
    font-weight: 600;
    color: #1C1C27;
    margin-bottom: 10px;
}

.price {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #AAAAAA;
}

.controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 25px;
}

.quantityButton {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: #FFCE7F;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.quantityButton:hover {
    background: #FFA542;
}

.basket_red {
    position: absolute;
    top: 10%;
    right: 3%;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.basket_red:hover {
    opacity: 0.7;


}

@media (max-width: 900px) {
    .item {
        margin-right: 0;
    }
}